.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

dist
dist.zip

assets
.mp4

# End of https://mrkandreev.name/snippets/gitignore-generator/#react